@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/vtks-contact');

$bg: #202020;
$header: #DB3A34;
$link: #5bc0be;
$link-h: #FFC857;
$credits: #696969;


:root {
  --doc-height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg;
  color: white;
  font-family: "Cutive Mono", 'Courier New', Courier, monospace;;
  letter-spacing: .15rem;
  margin: 0;
}

a, a:visited {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $link-h;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  @media screen and (min-width: 650px) {
    justify-content: space-between;
  }
  &__list {
    position: absolute;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    right: -100%;
    top: 40px;
    z-index: 2;
    transition: right ease 0.5s;
    height: 100vh;
    background-color: black;
    @media screen and (min-width: 650px) {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: auto;
      background-color: transparent;
      position: relative;
      right: 0;
      top: 0;
      height: auto;
      width: 100%;
    }
  }
  &__item {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 100;
      text-transform: lowercase;
      letter-spacing: 3px;
      &:hover {
        color: $link-h;
      }
    }
  }
  &__music {
    display: flex;
    justify-content: center;
    gap: 20px;
    a svg {
      width: 20px;
      height: 20px;
      display: block;
    };
    @media screen and (min-width: 650px) {
      display: none;
    }
  }
}
.hamburger {
  margin: 20px 20px;
  cursor: pointer;
  @media screen and (min-width: 650px) {
    display: none;
  }

}
.bar1, .bar2, .bar3 {
  width: 33px;
  height: 2px;
  background-color: silver;
  margin: 6px 6px 0 6px;
  transition: 0.4s;
  border-radius: 3px;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 9px) ;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-1px, -5px) ;
}

.active {
  right: 0;
}

.scrolled {
  background:rgba(0, 0, 0, 0.7);
}

.top {
  text-align: center;
  height: var(--doc-height);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(img/band/cilenka5.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.9);
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  h1 {
    font-family: 'VTKS CONTACT', 'Courier New', Courier, monospace;
    font-size: 40px;
    letter-spacing: .6rem;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 650px) {
      font-size: 65px;
    }
  }
  h4 {
    color: $header;
  }
  .social {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 17px;
    a {
      text-decoration: none;
    }
  }
  .apps {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    a {
      color: #ffffff;
      &:hover {
        color: $header;
      }
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

section {
  text-align: center;
  font-size: 16px;
  padding: 100px 30px;
  min-height: 100vh;
  line-height: 1.4;
  @media screen and (min-width: 650px) {
    font-size: 18px;
  }
  h2 {
    display: inline-block;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    background-image: linear-gradient(white, white);
    background-size: 100%;
    @media screen and (min-width: 650px) {
      font-size: 50px;
    }
  }
}

section#members {
  min-height: auto;
  padding: 0;
}

section#shows {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(img/band/honzakytara.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.9);
}

.shows {
  list-style: none;
  text-align: left;
  &__item {
    display: flex;
    margin: 30px 0;
    gap: 30px;
  }
  &__date span {
    background-color: white;
    color: black;
    font-weight: 600;
  }
}


.contact {
  text-align: center;
  padding: 100px 30px 0 30px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.credits {
  display: flex;
  justify-content: flex-end;
  p {
    margin: 0;
    font-size: 12px;
    color: $credits;
  }
  &__logo {
    vertical-align: text-bottom;
  }
}

.cards {
  margin-bottom: 50px;
  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  @media screen and (min-width: 1000px) {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-template-columns: none;
    grid-template-rows: none;
  }
  .card {
    margin: 0 50px;
    position: relative;
    height: 60vh;
    @media screen and (min-width: 650px) {
      margin: 0;
      height: 40vh;
    }
    &:nth-of-type(4) .card__desc {
      background: none;
    }
    &:nth-of-type(5) .card__img {
      object-position: center;
    }
    &__img {
      width: 100%;
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
      object-position: top;
      vertical-align: bottom;
    }
    &__desc {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
      p {
        margin: 0;
        padding-bottom: 10px;
        &.smaller {
          font-size: 12px;
        }
      }
    }
  }
}

section#history {
  background-color: gray;
  background-image: linear-gradient(rgba(32, 32, 32, 1), rgba(0, 0, 0, 1));
  background-size: cover;
  box-shadow: 5px 9px 10px -9px rgba(0, 0, 0, 0.9);
}

.gallery {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    flex-direction: row;
  }
  li {
    width: 40vw;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    &:last-child {
      flex-grow: 10;
    }
    @media screen and (min-width: 600px) {
      width: auto;
      height: 40vh;
    }
    @media (max-aspect-ratio: 1/1) {
      height: 30vh;
    }
    @media (max-height: 480px) {
      height: 80vh;
    }
    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      height: auto;
      width: 100%;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    @media screen and (min-width: 600px) {
      max-height: 100%;
      min-width: 100%;
    }
    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
}

.grid {
  text-align: left;
  display: grid;
  gap: 30px;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 3fr;
    align-items: stretch;
  }
  &__image {
    height: 100%;
    max-width: 200px;
    display: block;
    margin: auto;
    @media screen and (min-width: 1200px) {
      max-width: 300px;
    }
  }
  &__content {
    p {
      text-align: center;
      margin-top: 0;
    }
    &__left {
    text-align: left;
    }
  }
}

.bmc-btn {
  font-size: 16px !important;
  display: flex !important;
  padding: 0 !important;
  @media screen and (min-width: 650px) {
    font-size: 24px !important;
    padding: 0 24px !important;
  }
  &-text {
    line-height: 1.2 !important;
    margin-left: 0 !important;
    flex-shrink: 1;
    @media screen and (min-width: 650px) {
      margin-left: 8px;
    }
  }
  &:hover, &:visited {
    color: #000000;
  }
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
